aiogram[redis]
python-dotenv
Pillow
opencv-python-headless
numpy
requests
boto3
#easyocr
#torch
#torchvision
fastapi
httpx
pydantic>=2
pydantic-settings
structlog
pytest
redis
paddleocr>=2.9.0
mrz
fastmrz
aiohttp
python-multipart
